{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^~/navigations/(.*)$",
        "^~/screens/(.*)$",
        "^~/components/(.*)$",
        "^~/constants/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}